@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --text-color: #ffe9c2;
  --fonts: "Open Sans", Helvetica, Arial, sans-serif;
  --spacing: 1.5rem;
}

* {
  font-size: 1em;
  color: var(--text-color);
  font-family: var(--fonts);
  /* color: #ffb200; */
  text-align: center;
}

body {
  background-color: #2f2100;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.5625em;
  font-weight: 700;
}

h3 {
  font-size: 1.325em;
  font-weight: 600;
}

p {
  text-align: justify;
  font-weight: 300;
}

mark {
  background-color: #ffc2667f;
}

strong {
  font-weight: 500;
}

main {
  width: min(128ch, calc(100% - 4rem));
  margin-inline: auto;
  padding: var(--spacing);
}

::selection {
  background-color: #ff99007f;
}

a {
  color: #ff9900;
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}

a:hover {
  color: #00a2ff;
  text-decoration: underline;
}

footer {
  background-color: hsla(42, 100%, 20%, 0.498);
  padding: 1.5rem;
  text-align: center;
  font-size: 0.875em;
}